<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{/admin/layout :: dynamic(~{::body})}">
<body>
<div style="padding-top: 70px; padding-left: 20px;">
    <h3>User List</h3>
    <hr/>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalCreate">
        Create
    </button>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Avatar</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.avatar}"></td>
            <td th:each="role : ${user.roles}" th:text="${role.name}"></td>
            <td>
                <button type="button" th:attr="data-id=${user.id}" class="btn btn-warning editBtn"
                        data-bs-toggle="modal" data-bs-target="#exampleModalUpdate">
                    Edit
                </button>
                |
                <a class="btn btn-danger" th:href="@{/admin/user/delete(id=${user.id})}"
                   onclick="return confirm('Bạn có muốn xoá sản phẩm này không?');">
                    Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Modal Create -->
    <div class="modal fade" id="exampleModalCreate" tabindex="-1" aria-labelledby="exampleModalCreateLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCreateLabel">Modal Create</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/admin/user/save}" method="POST" th:object="${user}">
                        <div class="form-group">
                            <label for="exampleInputName1">Full Name</label>
                            <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp"
                                   name="fullName"
                                   th:field="*{fullName}" placeholder="Nhập họ và tên...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="text" class="form-control" id="exampleInputUsername1"
                                   aria-describedby="usernameHelp" name="username"
                                   th:field="*{username}" placeholder="Nhập username...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   aria-describedby="passwordHelp" name="password"
                                   th:field="*{password}" placeholder="Nhập password...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="email"
                                   th:field="*{email}" placeholder="Nhập email...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAddress1">Address</label>
                            <input type="text" class="form-control" id="exampleInputAddress1" name="address"
                                   th:field="*{address}"
                                   placeholder="Nhập địa chỉ...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPhone1">Phone</label>
                            <input type="text" class="form-control" id="exampleInputPhone1" name="phone"
                                   th:field="*{phoneNumber}"
                                   placeholder="Nhập số điện thoại...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAvatar1">Avatar</label>
                            <input type="text" class="form-control" id="exampleInputAvatar1" name="image"
                                   th:field="*{avatar}"
                                   placeholder="Nhập Url avatar...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputRole1">Role ID</label>
                            <select id="exampleInputRole1" class="form-select" aria-label="Default select example"
                                    th:field="*{roles}">
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}">
                                </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update -->
    <div class="modal fade" id="exampleModalUpdate" tabindex="-1" aria-labelledby="exampleModalUpdateLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalUpdateLabel">Modal Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/admin/user/save}" method="POST" th:object="${user}">
                        <input type="hidden" name="id" th:field="*{id}">
                        <div class="form-group">
                            <label for="exampleInputName2">Full Name</label>
                            <input type="text" class="form-control" id="exampleInputName2" aria-describedby="nameHelp"
                                   name="fullName"
                                   th:field="*{fullName}" placeholder="Nhập họ và tên...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername2">Username</label>
                            <input type="text" class="form-control" id="exampleInputUsername2"
                                   aria-describedby="usernameHelp" name="username"
                                   th:field="*{username}" placeholder="Nhập username...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2"
                                   aria-describedby="passwordHelp" name="password"
                                   th:field="*{password}" placeholder="Nhập password...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail2" name="email"
                                   th:field="*{email}" placeholder="Nhập email...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAddress2">Address</label>
                            <input type="text" class="form-control" id="exampleInputAddress2" name="address"
                                   th:field="*{address}"
                                   placeholder="Nhập địa chỉ...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPhone2">Phone</label>
                            <input type="text" class="form-control" id="exampleInputPhone2" name="phone"
                                   th:field="*{phoneNumber}"
                                   placeholder="Nhập số điện thoại...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAvatar2">Avatar</label>
                            <input type="text" class="form-control" id="exampleInputAvatar2" name="image"
                                   th:field="*{avatar}"
                                   placeholder="Nhập Url avatar...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputRole2">Role ID</label>
                            <select id="exampleInputRole2" class="form-select" aria-label="Default select example"
                                    th:field="*{roles}">
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}">
                                </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        $(".editBtn").click(function () {
            userId = $(this).attr("data-id");
            url = /*[[@{/admin/get-user}]]*/ +userId;

            params = {id: userId};
            $.get(url, params, function (user) {
                $("#id").val(user.id);
                $("#exampleInputName2").val(user.fullName);
                $("#exampleInputUsername2").val(user.username);
                $("#exampleInputPassword2").val(user.password);
                $("#exampleInputEmail2").val(user.email);
                $("#exampleInputAddress2").val(user.address);
                $("#exampleInputPhone2").val(user.phoneNumber);
                $("#exampleInputAvatar2").val(user.avatar);
            })
        })
    });
</script>
</body>
</html>